img {
    display: block;
    height: 100%;
    width: 100%;
}

/* BODY BACKGROUND */
.body-green {
    height: 15vh;
    background-color: #009688;
}

.body-light {
    height: 85vh;
    background-color: #dadbd4;
}

/* MAIN STYLE */
.container {
    position: fixed;
    background-color: white;
    height: 90vh;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}

#root {
    height: 100%;
    width: 100%;
}

.left {
    height: 100%;
    width: calc(100% / 3);
    background-color: magenta;
}

.right {
    height: 100%;
    width: calc(100% / 3 * 2);
    background-color: coral;
}

/* LEFT STYLE */
/* USER-BAR */
.user-bar {
    height: 60px;
    background-color: #eaeaea;
    padding: 5px;
}

.user img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user span {
    padding-left: 5px;
}

button {
    border: 0;
    border-color: none;
    background-color: transparent;
    color: #b1b1b1;
    font-size: 20px;
}

.notification {
    background-color: #8edafc;
    height: 60px;
    padding: 10px;
}

.bell {
    color: #8edafc;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
}

.notification-notes {
    padding-left: 10px;
}

.notification-notes div {
    font-size: 14px;
    line-height: 14px;
}

.notification-notes a {
    font-size: 12px;
    line-height: 12px;
    color: grey;
}

.search-bar {
    padding: 5px;
    background-color: #fafafa;
}

.search-bar button {
    background-color: white;
    height: 100%;
    width: calc(100% / 6);
    border: 1px solid #b1b1b1;
    color: #b1b1b1;
}

.search-bar input {
    width: calc(100% / 6 * 5);
    border: 1px solid #b1b1b1;
}